
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;700&family=Ubuntu:wght@500&display=swap');

/* font-family: 'Baloo Bhaijaan 2', cursive; */
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

html {
    scroll-behavior: smooth;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.abt__nav {
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.abt__tag {
    color: whitesmoke;
    font-weight: 900;
    margin-left: 10px;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    ;
}

.abt__tag span {
    font-weight: 500;
    color: rgb(255, 217, 0);
}

.abt__nav h5 {
    margin-left: .7rem;
    color: white;
}

.abt__text {
    animation: up_move ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes up_move {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-60px);
    }
}

.pull__bar {
    position: fixed;
    height: 5vh;
    width: 10vh;
    top: 40%;
    left: 1rem;
}

.pull__bar img {
    width: 60%;
    transition: 1s;
    /* background-color: brown; */
    box-shadow: rgba(119, 119, 119, 0.19) 0px 5px 20px, rgba(207, 207, 207, 0.23) 0px 6px 6px;
    border-radius: 50%;
    /* border: 1px; */
}

.pull__bar img:hover {
    background-color: rgb(4, 168, 4);

}

.down_bar {
    position: fixed;
    /* height: 5vh;
    width: 10vh; */
    top: 85%;
    right: 1rem;
    transition: .3s;
}

.down_bar a svg {
    /* width: 90%; */
    transition: 1s;
    cursor: pointer;
    opacity: 1;
    color: white;
    border-radius: 50%;
}

.down_bar a svg:hover {
    color: black;
    background: white;
}

.visible {
    transition: 1s;
    opacity: 1;
}



.move__icon {
    transition: .3s;
    transform: translateX(110px) scale(1.3) rotate(540deg);
    cursor: pointer;
    background-color: rgb(240, 159, 8);

}

.navigation {
    position: fixed;
    top: 25%;
    left: 1rem;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding:8px 10px; */
    overflow: hidden;

}

.pull {
    visibility: hidden;
    transition: .5s;
    transform: translateX(-110px);
}

.nav__link {
    list-style: none;
    line-height: 40px;
}

.nav__link a {
    text-decoration: none;
    color: white;
    padding: 5px 0px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Baloo Bhaijaan 2', cursive;
    text-transform: uppercase;
}

.nav__link a:hover {
    transition: .5s;
    /* border: 1.5px solid white; */
    color: rgb(255, 217, 0);
}

/* skill container */

.skill__container {
    position: relative;
    height: 170vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.skill {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("/image/skill.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    /* z-index: 5; */
    justify-content: center;
    overflow: hidden;
}

.skill__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(49, 47, 47, 0.726);
    
}

.skill__item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.skill__head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}



.skill__img img {
    width: 80%;
    border-radius: 25%;
    opacity: 2;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */



}

.skill__txt {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btn__skill {
    border: 1px solid gold;
    padding: 1px 4px;
    text-transform: uppercase;
    font-family: 'Baloo Bhaijaan 2', cursive;
    border-radius: 5px;
    margin: 10px 2px;
    cursor: pointer;
    transition: .3s;
    background: inherit;
    color: white;
}

.btn__skill:hover {
    transition: .5s;
    background: gold;
    color: black;

}


/* //////////////////// */


.skill_content {
    position: relative;
    /* border: 2px solid white; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.s__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 10px;
    flex-wrap: wrap;
    position: relative;

    width: 60%;

}

.prop {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 5px 6px;
    padding: 10px 5px;
    margin: 10px;
    transition: 1s;
    cursor: pointer;
    border-radius: 8px;


}

.prop:hover {
    transition: 1s;
    background: darkslategray;

}

.prop_img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.text {
    color: white;

}

.s_head {
    font-size: 12px;
    color: whitesmoke;
    margin: 0px 5px;
}

.text_s {
    color: white;
    text-align: start;
    font-size: 12px;
    padding: 1px 5px;
}
/* ////////////////////////// */

.pi_chart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    margin: 0px 5px;
    /* background: white; */
    height: 80vh;
}

.skills {
    width: 30%;

}

.pi_chart:hover .skills {
    animation-name: bar;
    animation-duration: 5s;
    /* animation-iteration-count:; */
    animation-fill-mode: forwards;

}



@keyframes bar {

    from {
        width: 30%;

    }

    to {
        width: 100%;
    }

}

.line_item {
    list-style: none;
    color: white;
    margin: 0px 5px;
    border-radius: 10px;
    /* background: yellowgreen; */

    /* width: 20px; */
}

#html {
    background: orangered;
    width: 95%;
}


#css {
    background: rgb(59, 192, 245);
    width: 90%;
}

#react {
    background: blue;
    width: 55%;
}

#clang {
    background: green;
    width: 95%;
}

#cclang {
    background: orangered;
    width: 95%;
}

#ds {
    background: orangered;
    width: 95%;
}

#js {
    background: gold;
    width: 75%;
}

#ui {
    background: rgb(106, 170, 10);
    width: 90%;
}

#cclang {
    background: violet;
    width: 75%;
}