@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;700&family=Ubuntu:wght@500&display=swap');
/* font-family: 'Merriweather', serif;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;700&family=Ubuntu:wght@500&display=swap');

/* font-family: 'Baloo Bhaijaan 2', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Lobster&family=Merriweather:wght@300&family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;700&family=Ubuntu:wght@500&display=swap');
/* font-family: 'Lobster', cursive; */


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
}

.navbar{
    z-index: 10;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height:10vh;
    position: fixed;
    width: 100%;
    opacity: .9;
    top: 0;
    left: 0;
}

.brand{
    color: whitesmoke;
    font-weight: 900;
    margin-left:10px;
    font-size: 35px;
    font-family:'Lobster', cursive;;
}
.brand span{
    font-weight: 500;
    color: rgb(255, 217, 0);
}

.container {
    min-height: 100vh;
    width: 100%;
    background-color: #485461;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
  }
  

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:5;
    overflow: hidden;
    transform-origin: left;
    transition: 0.7s;
    transform-style: flat;
    top: 0px;
}
.container.active .main {
    animation: main-animation 0.7s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* border: 10px solid white; */
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);

  }
  
  @keyframes main-animation {
    from {
      transform: translate(0);
    }
  
    to {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
  }

header{
    background: url("/image/bg.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;

}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 54, 56, 0.767);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner{
    
    max-width: 35rem;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
    text-transform: uppercase;
}

.burger{
    background: inherit;
    position: relative;
    height: 5rem;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;

}

.bar{
    position:relative;
    background-color:whitesmoke;
    height: 1.6px;
    width: 25px;
    border-radius: 3px;
    transition: .8s;
}

.bar::before,.bar::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: whitesmoke;
    transition: .8s;
}

.bar::before{
    transform: translateY(-7px);
}

.bar::after{
    transform: translateY(7px);
}

.container.active .bar{
    transform: rotate(720deg);
    background: transparent;
}

.container.active .bar::after{
    transform: translateY(0) rotate(-45deg);
    
}
.container.active .bar::before{
    transform: translateY(0) rotate(45deg);
    
}

.inner p{
    font-family:'Baloo Bhaijaan 2', cursive;
    font-size:13px;
    color: white;
}

.btn{
    padding: 7px 20px;
    margin-top: 5px;
    background: hsl(202, 100%, 45%);
    color: #fff;
    border: none;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover{
    padding:7px 30px ;
   
}

.link{
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
    
}

.item__menu{
    list-style: none;
}

.link a{
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(100px);
  animation: hide 0.5s forwards ease;

}

.container.active .link a {
    animation: appear 0.7s forwards ease var(--i);
  }

  @keyframes appear {
    from {
        opacity: 0;
        transform: translateX(100px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
  }

  @keyframes hide {
    from {
        opacity: 1;
        transform: translateX(0px);
      }
      to {
        opacity: 0;
        transform: translateX(100px);
      }
  }

/********************* SECTION-CONTAINER**********************/

.big-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
   

}

.first-big{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.big-text{
    color:hsla(199, 95%, 24%, 0.933);
    font-family: 'Baloo Bhaijaan 2', cursive;
   
}
#bt-1{
    font-size: 40px;
    font-weight: bold;
     
    margin-right:240px;
    
}
#bt-2{
    font-size: 50px;
    font-weight: bold;
   
    text-shadow: rgba(245, 72, 29, 0.849) 5px 2px 4px;

    /* animation-name: magic-text;
   animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; */
}
 

#bt-3{
    font-size: 40px;
    font-weight: bold;

}
#bt-4{
    font-size: 25px;
    font-weight: bold;
    
   

}


.text-para{
    color: hsla(199, 92%, 19%, 0.933);
    text-align: center;
    padding: 5px 70px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
   
    
}



.second-big{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}



#brand{
    transition: .3s;
    width: 25%;
    /* height: 35%; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    
   
}
#brand:hover{
    border-radius:2px;
    transform: translateY(-20px);
    transition: .3s;
    /* border:2px solid yellow; */
}
.massage{display: flex;
padding:10px ;
}


.buttons{
    padding: 15px;
   
   
}

.btn-ct{
    /* background: inherit; */
    background:#035479ee ;
    padding: 1px 12px;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 20px -10px;
   cursor: pointer;
   color: white;
   font-size: 17px;
   
   border-radius: 5px;
   margin: 5px 4px;
   font-family: 'Baloo Bhaijaan 2', cursive;
    
}

.btn-ct:hover{
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    color: white;
}


/*************************** section-2 *************************/
#section-2{
   
    background: rgb(241, 236, 236);
    /* border: 2px solid black; */
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
   
}

.heading{
    font-size: 35px;
    font-family: 'Lobster', cursive;
    text-align: center;
    
}

.heading-2{
    font-family:'Baloo Bhaijaan 2', cursive;
    font-size:30px; 
    padding-left: 15px;
    
}
.skill-box{
    display: flex;
    height:100%;
    width: 95%;
    
    margin: auto;
    flex-direction: column;
    
   
  
    
}

.skill{
    height: 50%;
   flex-wrap: wrap;
    
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 10px;
   
}

.item{
    height: 100%;
    border-radius: 8px;
    margin: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    width: 22%;
    background:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.item img{
    width: 26%;
    height: 26%;
}

.header{
    font-family:'Baloo Bhaijaan 2', cursive;
    padding: 4px;
    opacity: 0.8;
   
}

.text{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    opacity: 0.8;

}


.skl-btn{
    font-family:'Poppins', sans-serif;
    background: none;
    border: .5px solid orange;
    padding: 2px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    margin: 4px;
  

}
.skl-btn:hover{
    background:orange;

}


              /*//////////// section-3 ///////////////*/
#section-3{
  
    /* border: 2px solid black; */
    margin: 8px;
    background: rgb(241, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   
} 
#project-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}             
.artical{
    padding: 2px 50px;
}









.pitem{
    display: flex;
    margin:20px 10px;
    padding: 25px;
    width: 85%;background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.pitem img{
    width: 20%;
    height: 20%;
   border-radius: 8px;
   padding: 1px;
   border: 2px solid brown;
}



.reverse{
    flex-direction: row-reverse;
}

/********************* section-4***************************/

.about__me{
    position: relative;
    height:120vh;
    width: 100%;
    top: 0;
    left: 0;
    background: url("/image/abt_bg.jpg") center center/cover;
   
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abt__layer{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: rgba(49, 47, 47, 0.726);
    display: flex;
    justify-content: center;
    align-items: center;
}

.abt__inner{
    position: relative;
    /* background: white; */
    width: 95%;
    /* height: 100vh; */
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    flex-direction:column;
    transition: .7s;

}

.abt__image{
   
    height: 30vh;
    width:20%;
    transition: 1s;
}

.abt__image img{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.abt__inner:hover .abt__image{
 animation-name: move;
 animation-fill-mode: forwards;
 animation-duration:5s;
}

.abt__text{
    transition: .9s;
    
}
.heading__1{
    opacity: 0;
}

.heading__1, .heading__2, .heading__3{
    transition: 1s;
}
.abt__inner:hover .heading__1{
    transition: 1s;
    transform: translateX(-50px) scale(2);
    color: yellow;
    opacity: 1;
    text-transform: capitalize;
    
}

.abt__inner:hover .heading__2{
    transition: 1s;
    transform: scale(1.5) translateX(30px);
    color: red;
}
.abt__inner:hover .heading__3{
    transition: 1s;
    text-transform: capitalize;
    /* color: palevioletred; */
    transform: scale(1.4);
   
}
.abt__inner:hover .heading__3 span{
    color:hsl(41, 100%, 45%);
}

.appear_block{
    display: none;
}

@keyframes move {
    0%{
        transform: scale(1);
    }

    20%{
        transform: scale(.6);
    }
    60%{
        transform: translateY(-80px);
    }
    70%{
        transform: scale(1) translateY(-80px);
    }
    100%{
        transform: scale(1.09) translateY(-80px);
    }
}

.abt__text{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family:'Baloo Bhaijaan 2', cursive ;
    width: 50%;
    transition: 1s;
}

.hide__text.hide{
    transition: 2s;
    opacity: 0;
    display:none;
}


.hide__text.hide .btn_abt{
    background: rgb(255, 136, 0);
}






/***************************** Section-5******************/

#section-5{
    height: 800px;
    /* background: rgb(241, 236, 236); */
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.contact-box{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.contact-img{
    height:200px;
    /* background:url(/image/coffee.jpg)center center/cover; */
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid brown; */
    /* background: rgb(34, 47, 226); */
    border-radius: 15px;
    width: 90%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    
    
}

.contact-img::before{
    content: " ";
    background:url(/image/coffee.jpg)center center/cover;
    position: absolute;
    width:90% ;
    height: 200px;
    z-index: -1;
    opacity:.9;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cont-txt{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-shadow:black 3px 3px 2px;
}

.contact{
  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 80%;
   
  
    
}
.contact input,
.contact textarea{
   border: 1px solid black;
  padding: .4rem;
    width: 100%;
 
}

.contact label{
 font-family:'Baloo Bhaijaan 2', cursive;
 font-size: larger;
}

.contact form{
height: 100%;
width: 40%;
}


#submit{
    padding: 4px 10px;
  
    cursor: pointer;
    font-size: 17px;
    float: right;
    border-radius: 15px;
    border: 1px solid black;
    background: rgb(56, 209, 17);
}
#submit:hover{
    background: rgb(3, 150, 3);
    color: white;
}
.touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.touch p{
    font-family:'Baloo Bhaijaan 2', cursive;
 font-size: 30px;
}


.logo-box{
    display: flex;
   
   
}
.logo{
    padding: 5px;
}




